[submodule "SPACCC_MEDDOCAN"]
    path = SPACCC_MEDDOCAN
    url = https://github.com/PlanTL-GOB-ES/SPACCC_MEDDOCAN
[submodule "models/BiLSTM-CRF"]
    path = models/BiLSTM-CRF
    url = https://github.com/ionur/MEDDOCAN-Medical-Document-Anonymization/
[submodule "models/NeuroNer"]
    path = models/NeuroNer
    url = https://github.com/ccolonruiz/MEDDOCAN
[submodule "models/Few-shot-NER"]
    path = models/Few-shot-NER
    url = https://github.com/alicialara/lsi2_uned_at_MEDDOCAN2019
[submodule "models/CLIN_X"]
    path = models/CLIN_X
    url = https://github.com/boschresearch/clin_x
[submodule "SPACCC_MEDDOCAN/scripts/Format-Converter-Script"]
    path = SPACCC_MEDDOCAN/scripts/Format-Converter-Script
    url = https://github.com/PlanTL-GOB-ES/MEDDOCAN-Format-Converter-Script