[submodule "models/clin_x"]
	path = models/clin_x
	url = https://github.com/boschresearch/clin_x
[submodule "SPACCC_MEDDOCAN"]
	path = SPACCC_MEDDOCAN
	url = https://github.com/PlanTL-GOB-ES/SPACCC_MEDDOCAN
[submodule "models/Bi-LSTM"]
	path = models/Bi-LSTM
	url = https://github.com/ionur/MEDDOCAN-Medical-Document-Anonymization/
